<!DOCTYPE html>
<html>
  <head>
    <title>BankAccountApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'bank_account_app/index' %>
    <%= stylesheet_pack_tag 'bank_account_app/assets/styles/app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
